.card {
  composes: smooth-material from global;
  background: var(--light);
  color: var(--text);
  overflow: hidden;
  animation: fade-in 200ms ease;
  position: relative;
  margin-bottom: 20px;
  padding: 4em 2em 2em 2em;

  &.error {
    padding: 1.5em;

    p {
      color: var(--red);
    }
  }
}

.deviceIcon {
  margin-top: 0;
  font-weight: normal;
  position: absolute;
  top: 1em;
  right: 1em;

  svg {
    fill: var(--text-dull);
  }
}

.metricsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

  @media (max-width: 1200px) {
    & {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 500px) {
    & {
      grid-template-columns: 1fr;
    }
  }
}
