.inputContainer {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow);
  border-radius: 5px;
  margin-bottom: 50px;

  button {
    background: var(--primary);
    color: var(--primary-text);
    letter-spacing: 0.1em;
    cursor: pointer;
  }
}
