.App {
	font-family: 'Roboto Mono', monospace;
	padding: 20px;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 30px;
}

html {
	--bg: #e8e8f3;
	--text: #2f3640;
	--text-dull: #7f8fa6;
	--error-red: #e84118;
	--blue: #0652dd;
	--green: hsl(118, 41%, 49%);
	--orange: hsl(31, 78%, 53%);
	--red: hsl(359, 80%, 50%);
}

input,
button,
textarea {
	font-family: 'Roboto Mono', monospace;
}

body {
	background: var(--bg);
	color: var(--text);
}

.error {
	color: var(--error-red) !important;
}

.card {
	background: white;
	color: var(--text);
	box-shadow: 4px 4px 10px rgba(55, 84, 170, 0.15);
	border-radius: 5px;
	overflow: hidden;
}

input,
button,
textarea {
	padding: 1em 1.5em;
	border: none;
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
}

textarea {
	height: 150px;
	resize: vertical;
	min-height: 100px;
}

.has-error button {
	background: var(--error-red) !important;
}

.input-container button {
	background: var(--blue);
	color: white;
	letter-spacing: 0.1em;
	cursor: pointer;
}

input {
	background: white;
	color: var(--text);
}

input:active,
input:focus,
textarea:focus {
	outline: none;
}

.input-container {
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 4px 4px 10px rgba(55, 84, 170, 0.15);
}

@media (max-width: 500px) {
	.input-container {
		grid-template-columns: 1fr;
	}
}

h1 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	color: var(--text-dull);
}

.device {
	margin-top: 0;
	font-weight: normal;
	position: absolute;
	top: 1em;
	right: 1em;
}

.device svg {
	fill: var(--text-dull);
}

.unit {
	display: inline-block;
	font-size: 0.8em;
}

.web-vitals-card,
.error {
	animation: fade-in 200ms ease;
	position: relative;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.options {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 20px;
}

.options button {
	background: white;
	transition: background 200ms ease, color 200ms ease;
}

.options button.active {
	background: #5c6470;
	color: white;
}

main {
	margin-top: 60px;
}

.textarea-container button {
	background: var(--blue);
	color: white;
}

button {
	cursor: pointer;
}

.compact-container {
	padding: 2em;
	padding-bottom: 1em;
	background: white;
	padding-top: 1.5em;
}

.compact-container .card {
	box-shadow: none;
}

.url {
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 1.5em;
}

.percentage {
	font-size: 12px;
}

.loading {
	color: var(--text-dull);
	text-align: center;
	height: 300px;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.compact .loading {
	height: 62px;
	margin: 0;
}

.line {
	background: hsl(215deg 18% 90%);
	height: 2px;
	outline: none;
	border: none;
}

.box-container {
	display: flex;
	height: 40px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 3px 3px 15px rgba(55, 84, 170, 0.15);
}

.box-good {
	background-color: var(--green);
}

.good {
	color: var(--green);
}

.box-needs-improvement {
	background-color: var(--orange);
}

.box-poor {
	background-color: var(--red);
}

.needs-improvement {
	color: var(--orange);
}

.poor {
	color: var(--red);
}

.web-vitals-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
}

@media (max-width: 1200px) {
	.web-vitals-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 500px) {
	.web-vitals-container {
		grid-template-columns: 1fr;
	}
}

.web-vital--acronym {
	font-size: 22px;
	margin: 0;
}

.web-vital-name {
	display: inline-block;
	margin-right: 0.5em;
}

.web-vital-value span {
	display: inline-block;
}

.web-vital-value span:first-child {
	margin-right: 0.2em;
}

.web-vitals-card {
	padding: 4em 2em 2em 2em;
}

.web-vitals-card.compact {
	padding: 1em;
	margin-top: 1em;
	margin: 0;
	padding-left: 0;
}

.web-vitals-card.compact .device {
	right: 0;
	top: auto;
}

.web-vitals-card {
	margin-bottom: 2em;
}

.web-vitals-card.error {
	padding: 0.5em 1.5em !important;
}
